@import "../css/reset.css";

body {
  background-image: url("../assets/img/background.jpg");
  background-size: contain;
  cursor: grab;
}
main {
  font-family: "Redressed", cursive;
}
header {
  width: 100%;
  height: 70px;
  background-color: rgba(100, 148, 237, 0.95);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav {
  width: 30%;
}
nav ul {
  list-style: none;
  font-family: "Redressed", cursive;
  color: indianred;
  text-shadow: 3px 3px 3px orange;
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-family: "Press Start 2P", cursive;
  color: indianred;
  text-shadow: 3px 3px 3px orange;
  cursor: grabbing;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer {
  width: 100%;
  height: 100px;
  background-color: rgb(55, 90, 150, 0.95);
  font-family: "Redressed", cursive;
  font-size: 20px;
  font-weight: 700;
  color: brown;
  text-shadow: 1px 1px 1px burlywood;
  text-align: center;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.playing {
  color: midnightblue;
  text-shadow: 1px 1px 1px cyan;
}
.space {
  color: transparent;
  text-shadow: 2px 2px 2px transparent;
}
.rook {
  color: darkblue;
  text-shadow: 2px 2px 2px cyan;
}
.modal_container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5000;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal_container.mostrar {
  display: flex;
}
.modal {
  background-color: rgba(127, 255, 212, 0.8);
  width: 450px;
  height: 150px;
  border-radius: 20px 40px 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Redressed", cursive;
  font-size: 20px;
  box-shadow: 5px 5px 5px cadetblue;
  position: relative;
}
.fechar_modal {
  cursor: grabbing;
  position: absolute;
  top: -20px;
  right: -20px;
  width: 25px;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.7);
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mostrar .modal {
  animation: modal 0.3s;
}
