@import "../css/reset.css";

body {
  background-image: url("../assets/img/background.jpg");
  background-size: contain;
  cursor: grab;
}
header {
  width: 100%;
  height: 70px;
  background-color: rgba(100, 148, 237, 0.95);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav {
  width: 30%;
}
nav ul {
  list-style: none;
  font-family: "Redressed", cursive;
  color: indianred;
  text-shadow: 3px 3px 3px orange;
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-family: "Press Start 2P", cursive;
  color: indianred;
  text-shadow: 3px 3px 3px orange;
  cursor: not-allowed;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer {
  width: 100%;
  height: 100px;
  background-color: rgb(55, 90, 150, 0.95);
  font-family: "Redressed", cursive;
  font-size: 20px;
  font-weight: 700;
  color: brown;
  text-shadow: 1px 1px 1px burlywood;
  text-align: center;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.playing {
  color: midnightblue;
  text-shadow: 1px 1px 1px cyan;
}
.space {
  color: transparent;
  text-shadow: 2px 2px 2px transparent;
}
.rook {
  color: darkblue;
  text-shadow: 2px 2px 2px cyan;
}
